{% extends "index.html" %}

{% block content %}

    <h1>Correlation...</h1>
    <div id="Correlation" class="bar">
    </div>


    <script src="{{ url_for('static', filename='js/d3.v5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>


    <script type="text/javascript">
        var graphs = {{graphsJSON | safe}};

        Plotly.plot(block_id, // the ID of the div, created above
            graphs[block_id],{});

    </script>

{% endblock %}




